/* Remove margens e espaçamentos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{  
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color:#0A0F2C;
    ;


}


.botao{
    font-size: 22px;
    color: #F0F0F0;
    padding: 20px 35px;
    text-decoration: none;
    border-radius: 10px;
    font-family: 'Orbitron', sans-serif;
    transition: all .3s ease-in-out;
    cursor: pointer;
    
}

.botao:hover {
    background-color: #251041; /* Tom mais escuro ao passar o mouse */
    transform: scale(1.05);
}

header{
    background-color:#1F2A44;
    padding: 20px 20px;
    text-align: center;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    

}
.menu{
    display: flex;
    justify-content: center;
    gap: 30px;
}

h1,h2,h3,h4{
    text-align: center;
    color: #F0F0F0;
    font-family: 'Poppins', sans-serif;
    
}

footer{
    background-color: #1F2A44;
    color: #B0B0B0;
    text-align: center;
    padding: 20px;
    width: 100%;
    
    
  }

.container{
    flex: 1;
    display: flex;
    justify-content: center;   /* alinha no eixo horizontal */
    align-items: center;       /* alinha no eixo vertical */
    padding: 20px;
}
.minha-imagem{
    width: 222px;
    height: auto;
    border-radius: 33px;
    padding: 20px;
   

}
.contato{
    flex:1;
    padding: 20px;
}
.gerar-imagem{
    font-size: 15px;
    flex:1;
    padding: 20px; /* desgruda o conteúdo da borda, assim fica mais bonito*/
    
}

.galeria{
    color: #F0F0F0;
    flex: 1;
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    text-align: center;
}

.sobrenos{
    text-align: center;
    flex:1
}

.perfil{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 20px; /* Espaço entre a imagem e o texto */
    margin-top: 20px;
    font-size: 16px; /* Ajusta o tamanho do texto */
    max-width: 80%; /* Limita a largura do texto para não esticar demais */
    line-height: 1.6; /* Ajuste para melhorar a legibilidade */
}

.gerar-imagem {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gerar-imagem form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.gerar-imagem form button {
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    padding: 10px;
    transition: all .3s ease-in-out;
    font-family:'Poppins', sans-serif;
    width: 5rem;
    box-shadow: 0 4px 8px rgba(135, 102, 255, 0.3);
}

.gerar-imagem form button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.gerar-imagem form input {
    padding: 10px;
    width: 50%;
    height: 55px;
    border-radius: 100px;
    box-shadow: 0 4px 8px rgba(93, 91, 197, 0.3);
}

.gerar-titulo {
    margin-top: 1rem;
}

.gerar-titulo h1 {
    font-size: 1.8rem;
    margin: 20px;
}
.descreva{
    margin-bottom: 4rem;
    font-size: 1.5rem;
}
