/* Remove margens e espaçamentos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{  
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color:#0A0F2C;
    ;


}


.botao{
    font-size: 22px;
    color: #F0F0F0;
    padding: 20px 35px;
    text-decoration: none;
    border-radius: 10px;
    font-family: 'Orbitron', sans-serif;
    
    
}

.botao:hover {
    background-color: #B388EB; /* Tom mais escuro ao passar o mouse */
    transform: scale(1.05);
}

header{
    background-color:#1F2A44;
    padding: 20px 20px;
    text-align: center;
    width: 100%;
    border-radius: 5px;
    

}
.menu{
    display: flex;
    justify-content: center;
    gap: 30px;
}

h1,h2,h3,h4{
    text-align: center;
    color: #F0F0F0;
    font-family: 'Poppins', sans-serif;
    
}

footer{
    background-color: #1F2A44;
    color: #B0B0B0;
    text-align: center;
    padding: 20px;
    width: 100%;
  }

.container{
    flex: 1;
    display: flex;
    justify-content: center;   /* alinha no eixo horizontal */
    align-items: center;       /* alinha no eixo vertical */
    padding: 20px;
}
.minha-imagem{
    width: 180px;
    height: auto;
    border-radius: 20px;
    padding: 20px;

}
.contato{
    flex:1;
    padding: 20px;
}
.gerar-imagem{
    font-size: 15px;
    flex:1;
    padding: 20px; /* desgruda o conteúdo da borda, assim fica mais bonito*/
    
}

.galeria{
    color: #F0F0F0;
    flex: 1;
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    text-align: center;
}

.sobrenos{
    text-align: center;
    flex:1
}